./build
./dist
__pycache__/
*.pyc
.env
venv/
.env/
venv/
server/__pycache__/
server/*.pyc
client/__pycache__/
client/*.pyc
client/build/
client/dist/
client/venv/
client/.env/
server/games/*/__pycache__/
server/games/*/*.pyc
server/games/*/build/
server/games/*/dist/
server/games/*/venv/
server/games/*/.env/
server/games/*/*.zip
server/games/*/*.log
server/games/*/*.db
server/games/*/thumb.png
server/games/*/ss1.png
server/games/*/ss2.png
server/games/*/ss3.png
server/games/*/ss4.png
server/games/*/ss5.png
server/games/*/ss6.png
server/games/*/ss7.png
server/games/*/ss8.png
server/games/*/ss9.png
server/games/*/ss10.png